<div class="app-header header-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="app-header__content">
        <div class="app-header-left">
            <ul class="header-megamenu nav">
                <li class="btn-group nav-item">
                    <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                        Maestro Integrado
                        <i class="fa fa-angle-down ms-2 opacity-5"></i>
                    </a>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu">
                        <div class="dropdown-menu-header">
                            <div class="dropdown-menu-header-inner bg-secondary">
                                <div class="menu-header-image opacity-5" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                                <div class="menu-header-content">
                                    <h5 class="menu-header-title">Overview</h5>
                                    <h6 class="menu-header-subtitle">Dropdown menus for everyone</h6>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <button type="button" class="dropdown-item">Option menu 1</button>
                            <button type="button" class="dropdown-item">Option menu 2</button>
                            <button type="button" class="dropdown-item">Option menu 3</button>
                            <button type="button" class="dropdown-item">Option menu 4</button>
                            <button type="button" class="dropdown-item">Option menu 5</button>
                        </div>
                    </div>
                </li>
                <li class="btn-group nav-item">
                    <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                        Tablero de mando integral
                        <i class="fa fa-angle-down ms-2 opacity-5"></i>
                    </a>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu">
                        <div class="dropdown-menu-header">
                            <div class="dropdown-menu-header-inner bg-secondary">
                                <div class="menu-header-image opacity-5" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                                <div class="menu-header-content">
                                    <h5 class="menu-header-title">Overview</h5>
                                    <h6 class="menu-header-subtitle">Dropdown menus for everyone</h6>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <button type="button" class="dropdown-item">Option menu 1</button>
                            <button type="button" class="dropdown-item">Option menu 2</button>
                            <button type="button" class="dropdown-item">Option menu 3</button>
                            <button type="button" class="dropdown-item">Option menu 4</button>
                            <button type="button" class="dropdown-item">Option menu 5</button>
                        </div>
                    </div>
                </li>
                <li class="btn-group nav-item">
                    <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                        Betto
                        <i class="fa fa-angle-down ms-2 opacity-5"></i>
                    </a>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu">
                        <div class="dropdown-menu-header">
                            <div class="dropdown-menu-header-inner bg-secondary">
                                <div class="menu-header-image opacity-5" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                                <div class="menu-header-content">
                                    <h5 class="menu-header-title">Overview</h5>
                                    <h6 class="menu-header-subtitle">Dropdown menus for everyone</h6>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <button type="button" class="dropdown-item">Option menu 1</button>
                            <button type="button" class="dropdown-item">Option menu 2</button>
                            <button type="button" class="dropdown-item">Option menu 3</button>
                            <button type="button" class="dropdown-item">Option menu 4</button>
                            <button type="button" class="dropdown-item">Option menu 5</button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="search-wrapper ml-5">
                <div class="input-holder">
                    <input type="text" class="search-input" placeholder="Buscar...">
                    <button class="search-icon">
                        <span></span>
                    </button>
                </div>
                <button class="btn-close"></button>
            </div>
        </div>
        <div class="app-header-right">
            <div class="header-btn-lg pe-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="btn-group">
                                <a data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                    <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg" alt="">
                                    <i class="fa fa-angle-down ms-2 opacity-8"></i>
                                </a>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                    class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right pb-0">
                                    <div class="dropdown-menu-header mb-0">
                                        <div class="dropdown-menu-header-inner bg-info">
                                            <div class="menu-header-image opacity-2" style="background-image: url('images/dropdown-header/city3.jpg');"></div>
                                            <div class="menu-header-content text-start">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left me-3">
                                                            <img width="42" class="rounded-circle"
                                                                src="images/avatars/1.jpg"  alt="">
                                                        </div>
                                                        <div class="widget-content-left">
                                                            <div class="widget-heading">Andrey Higuita</div>
                                                            <div class="widget-subheading opacity-8">A short profile description</div>
                                                        </div>
                                                        <div class="widget-content-right me-2">
                                                            <button class="btn-pill btn-shadow btn-shine btn btn-focus" (click)="logout()">Logout</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left  ms-3 header-user-info">
                            <div class="widget-heading"> Andrey Higuita</div>
                            <div class="widget-subheading"> Frontend Developer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
