<header class="header">
    <div class="header--top">
        <div class="logo">
            <img class="logo--image" src="assets/images/icbf-logo.png" alt="Logo del Instituto de Bienestar Familiar">
        </div>
        <div class="logo">
            <img class="logo--image" src="assets/images/mesa-de-trabajo-logo.png" alt="Logo del Instituto de Bienestar Familiar">
        </div>
    </div>
    <div class="header--bottom">
        <nav class="header--nav">

        </nav>
        <div class="header--search">

        </div>
        <div class="header--session">
            <button class="btn btn__primary" (click)="logout()">Cerrar sesión</button>
        </div>
    </div>
</header>
