@import '_colors'

.header
    width: 100%
    &--top
        padding: 20px
        display: flex
        justify-content: space-between
            
    &--bottom
        background-color: $secondary
