<header class="header">
    <div class="header--top">
        <div class="content">
            <div class="logo">
              <a [routerLink]="['/home']" >
                <img class="logo--image" src="assets/images/icbf-logo.png"
                    alt="Logo del Instituto de Bienestar Familiar">
              </a>
            </div>
            <div class="logo">
                <img class="logo--image" src="assets/images/mesa-de-trabajo-logo.png"
                    alt="Logo del Instituto de Bienestar Familiar">
            </div>
        </div>
    </div>
    <div class="header--bottom navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="content">
                <app-nav></app-nav>
                <div class="header--search">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="header--session">
                    <a href="#" class="nav--link" (click)="logout()">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</header>
