<div class="bgc-primary text-white">
    <div class="row content">
        <div class="col-md-3 my-4">
            <h2>Betto</h2>
            <h3>Primera infancia</h3>
        </div>
        <div class="col-md-6 mb-4">
            <div class="row">
                <div class="col-md-4 col-sm-4 mb-3">
                    <h5>Año</h5>
                    <div class="select-wrapper active">
                        <div class="input-holder">
                            <select class="form-control">
                                <option>2021</option>
                                <option>2020</option>
                                <option>2019</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 mb-3">
                    <h5>Periodo</h5>
                    <div class="select-wrapper active">
                        <div class="input-holder">
                            <select class="form-control">
                                <option>Periodo 1</option>
                                <option>Periodo 2</option>
                                <option>Periodo 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 mb-3">
                    <h5>Tipo de documento</h5>
                    <div class="select-wrapper active">
                        <div class="input-holder">
                            <select class="form-control">
                                <option>Todos</option>
                                <option>Registro civil</option>
                                <option>Cédula de ciudadanía</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="row">
                <div class="col-4 text-center">
                    <div class="widget-subheading">Invitaciones</div>
                    <h1 class="widget-numbers fw-bold">5</h1>
                </div>
                <div class="col-4 text-center">
                    <div class="widget-subheading">Oferentes</div>
                    <h1 class="widget-numbers fw-bold">30</h1>
                </div>
                <div class="col-4 text-center">
                    <div class="widget-subheading">Documentos</div>
                    <h1 class="widget-numbers fw-bold">95</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row content my-5">
    <div class="col-md-3 bg-dark text-white py-3 px-5">
        <h3 class="text-center mt-3 mb-5">Proceso</h3>
        <div id="exampleAccordion" data-children=".item">
            <div class="item m-3">
                <button type="button" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse"
                    href="#collapseExample" class="m-0 mb-2 p-0 btn btn-link collapsed text-white">
                    INGESTA
                    <i class="fa fa-angle-down ml-4"></i>
                </button>
                <div data-parent="#exampleAccordion" id="collapseExample" class="collapse">
                    <p><a class="text-white ml-4" href="#">Capacidad residual operativa</a></p>
                    <p><a class="text-white ml-4" href="#">Cálculo de experiencia</a></p>
                    <p><a class="text-white ml-4" href="#">Valor técnico agregado</a></p>
                    <p><a class="text-white ml-4" href="#">Sanciones</a></p>
                    <p><a class="text-white ml-4" href="#">Totalización</a></p>
                </div>
            </div>
            <div class="item m-3">
                <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse"
                    href="#collapseExample2" class="m-0 mb-2 p-0 btn btn-link collapsed text-white">
                    EVALUACIÓN
                    <i class="fa fa-angle-down ml-4"></i>
                </button>
                <div data-parent="#exampleAccordion" id="collapseExample2" class="collapse">
                    <p><a class="text-white ml-4" href="#">Capacidad residual operativa</a></p>
                    <p><a class="text-white ml-4" href="#">Cálculo de experiencia</a></p>
                    <p><a class="text-white ml-4" href="#">Valor técnico agregado</a></p>
                    <p><a class="text-white ml-4" href="#">Sanciones</a></p>
                    <p><a class="text-white ml-4" href="#">Totalización</a></p>
                </div>
            </div>
            <div class="item m-3">
                <button type="button" aria-expanded="false" aria-controls="exampleAccordion3" data-toggle="collapse"
                    href="#collapseExample3" class="m-0 mb-2 p-0 btn btn-link collapsed text-white">
                    VERSUS
                    <i class="fa fa-angle-down ml-4"></i>
                </button>
                <div data-parent="#exampleAccordion" id="collapseExample3" class="collapse">
                    <p><a class="text-white ml-4" href="#">Capacidad residual operativa</a></p>
                    <p><a class="text-white ml-4" href="#">Cálculo de experiencia</a></p>
                    <p><a class="text-white ml-4" href="#">Totalización</a></p>
                </div>
            </div>
            <div class="item m-3">
                <button type="button" aria-expanded="false" aria-controls="exampleAccordion4" data-toggle="collapse"
                    href="#collapseExample4" class="m-0 mb-2 p-0 btn btn-link collapsed text-white">
                    CANDADO
                    <i class="fa fa-angle-down ml-4"></i>
                </button>
                <div data-parent="#exampleAccordion" id="collapseExample4" class="collapse">
                    <p><a class="text-white ml-4" href="#">Capacidad residual operativa</a></p>
                    <p><a class="text-white ml-4" href="#">Cálculo de experiencia</a></p>
                    <p><a class="text-white ml-4" href="#">Valor técnico agregado</a></p>
                    <p><a class="text-white ml-4" href="#">Sanciones</a></p>
                    <p><a class="text-white ml-4" href="#">Totalización</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 bg-light">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
            <div class="col d-flex align-items-start mb-4">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#toggles2"></use>
                    </svg>
                </div>
                <div>
                    <h2>Featured title</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start mb-4">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#cpu-fill"></use>
                    </svg>
                </div>
                <div>
                    <h2>Featured title</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start mb-4">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#tools"></use>
                    </svg>
                </div>
                <div>
                    <h2>Featured title</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start mb-4">
                <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#tools"></use>
                    </svg>
                </div>
                <div>
                    <h2>Featured title</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="btn btn-primary">
                        Primary button
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>