@import '_colors'
    
.content
    width: 1290px
    max-width: 100%
    margin: auto

.bgc-primary
    background-color: $primary

@media screen and (max-width: 768px)
    .no-mobile
        display: none