<section>
  <div class="container-fluid h-custom content_section">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-6 col-lg-6 col-xl-6 content_section--image_content">
        <img class="content_section--image img-fluid" src="assets/images/login.jpg" alt="login">
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-row align-items-center justify-content-center title">
              <h1 class="mb-10 me-3 title--h1">Iniciar sesión</h1>
            </div>
            <div class="content_inputs">
              <!-- Email input -->
              <div class="form-outline mb-4 .col-md-3 .offset-md-3">
                <!-- <label class="form-label" for="email">Email</label> -->
                <input type="email" id="email" class="form-control form-control-lg content_inputs--input"
                  placeholder="Usuario" formControlName="username"/>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                <!-- <label class="form-label" for="password">Password</label> -->
                <input type="password" id="password" class="form-control form-control-lg content_inputs--input"
                  placeholder="Contraseña" formControlName="password"/>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button class="btn btn-primary btn-lg content_inputs--button">Iniciar sesión</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta? <a [routerLink]="['/register']"
                    class="link-danger content_inputs__black">Register</a></p>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
