<nav class="nav">
    <ul class="nav--list">
        <li class="nav--item">
            <a class="nav--link" [routerLink]="['/reports/controlpanel']" >Maestro Integrado</a>
            <div class="subnav">
                <ul class="nav--list subnav--list">
                    <li class="nav--item subnav--item">
                        <a class="nav--link nav--link__white" href="#">Primera Infancia</a>
                    </li>
                    <li class="nav--item subnav--item">
                        <a class="nav--link nav--link__white" href="#">Sacúdete</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav--item">
            <a class="nav--link" [routerLink]="['/reports/surveysource']">Tablero de Mando Integral</a>
            <div class="subnav">
                <ul class="nav--list subnav--list">
                    <li class="nav--item subnav--item">
                        <a class="nav--link nav--link__white" href="#">Primera Infancia</a>
                    </li>
                    <li class="nav--item subnav--item">
                        <a class="nav--link nav--link__white" href="#">Sacúdete</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav--item">
            <a class="nav--link" [routerLink]="['/reports/pard']">Betto</a>
            <div class="subnav">
                <ul class="nav--list subnav--list">
                    <li class="nav--item subnav--item">
                        <a class="nav--link nav--link__white" href="#">Primera Infancia</a>
                    </li>
                    <li class="nav--item subnav--item">
                        <a class="nav--link nav--link__white" href="#">Sacúdete</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>

