.content_footer{
  background-color: #025dc0;
  &--row{
    padding-top: 25px;
  }
  &--image{
    width: 70%;
    display: block;
  }
  &--text{
    font-size: 11px;
  }
  &--span{
    margin-left: 10px;
    vertical-align: super;
  }
}

@media screen and (max-width: 425px) {
  .content_footer{
    &--image{
      width: 30%;
    }
  }
}
