.content_footer{
  background-color: #025dc0;
  &--row{
    padding-top: 25px;
  }
  &--image-content{
    width: 100%;
    margin-bottom: 30px;
    &--image-gov{
      width: 100%;
    }
    &--image-coco{
      width: 60%;
    }
  }
  &--text{
    font-size: 11px;
  }
  &--span{
    margin-left: 10px;
    vertical-align: super;
  }
}

a{
  color: #fff;
  font-weight: 600;
  text-decoration: revert;
  margin-left: 5px;
  font-size: 12px;
}

@media screen and (max-width: 425px) {
  .content_footer{
    &--image{
      width: 30%;
    }
  }
}
