<!-- Footer -->
<footer class="text-center text-lg-start content_footer">
    <!-- Section: Social media -->
    <!-- <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"> -->
        <!-- Left -->
        <!-- <div class="me-5 d-none d-lg-block">
            <span>Follow ICBF</span>
        </div> -->
        <!-- Left -->

        <!-- Right -->
        <!-- <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div> -->
        <!-- Right -->
    <!-- </section> -->
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container">
            <!-- Grid row -->
            <div class="row content_footer--row">
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xs-12 mx-auto mb-4">
                    <!-- Content -->
                    <img class="content_footer--image" src="assets/images/govco.png" alt="govco">
                    <img class="content_footer--image" src="assets/images/cocolombia.png" alt="govco">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-5 col-xs-12 mx-auto mb-4 text-left text-white border-left">
                    <!-- Links -->
                    <p>
                      <b>Instituto Colombiano de Bienestar Familiar (ICBF)</b>
                    </p>
                    <p class="content_footer--text">
                      Dirección Sede de la Dirección General: Av. Carrera 68 # 64C - 75<br><br>
                      Bogotá, Colombia.<br>
                      Código Postal: 111061<br>
                      NIT: 899999.239-2<br>
                      Horario de Atención: Lunes a viernes de 8:00 a.m. a 5:00 p.m.<br>

                    </p>
                    <p class="text-left text-white content_footer--text">
                      Consultar Entidades del Sector de la Inclusión Social y Reconciliación.
                    </p>
                    <div class="row">
                      <p class="col-md-5 content_footer--text">
                        <i class="fab fa-twitter fa-2x"></i>
                        <span class="content_footer--span">@ICBFColombia</span>
                      </p>
                      <p class="col-md-5 content_footer--text">
                        <i class="fab fa-instagram fa-2x"></i>
                        <span class="content_footer--span">icbfcolombiaoficial</span>
                      </p>
                      <p class="col-md-5 content_footer--text">
                        <i class="fab fa-facebook fa-2x"></i>
                        <span class="content_footer--span">ICBFColombia</span>
                      </p>
                      <p class="col-md-5 content_footer--text">
                        <i class="fab fa-youtube fa-2x"></i>
                        <span class="content_footer--span">ICBFInstitucionalICBF</span>
                      </p>
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-5 col-xs-12 mx-auto mb-4 text-left text-white border-left">
                    <!-- Links -->
                    <p>
                      <b>Contacto</b>
                    </p>
                    <p class="content_footer--text">
                      <i class="far fa-phone"></i> Teléfono Conmutador: +57 601 437 76 30, Disponible lunes a viernes de 8:00 a.m. a 5:00 p.m.<br>
                      <i class="far fa-phone"></i> Línea gratuita nacional ICBF: 01 8000 91 80 80, Disponible las 24 horas.<br>
                      <i class="far fa-phone"></i> Línea 141: Línea gratuita nacional para denuncia, emergencia y orientación. Disponible las 24 horas.<br>
                      <i class="far fa-phone"></i> Linea Anticorrupción : 01 8000 91 80 80, opción 4.<br>
                      <i class="far fa-envelope"></i> Correo Atención al Ciudadano: atencionalciudadano@icbf.gov.co<br>
                      <i class="far fa-envelope"></i> Correo Notificaciones Judiciales ICBF: Notificaciones.Judiciales@icbf.gov.co<br>
                    </p>

                    <p class="content_footer--text">
                      <i class="far fa-file"></i> Política de Seguridad y Privacidad de la Información, Seguridad Digital y Continuidad de la Operación<br>
                      <i class="far fa-file"></i> Consultar también: Políticas del Sistema Integrado de Gestión ICBF<br>
                      <i class="far fa-file"></i> Política de Privacidad y Condiciones de Uso<br>
                      <i class="far fa-file"></i> Política de Tratamiento de Datos Personales<br>
                      <i class="far fa-file"></i> Política Editorial y de Actualización de Contenidos Web<br>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">ICBF.com</a>
    </div> -->
    <!-- Copyright -->
</footer>
<!-- Footer -->
